body {
  background-color: #dee8ec;
}

hr {
  border-style: none;
  border-color: #02a0da;
  border-top-style: dotted;
  border-width: 3px;
  width: 5%;
}

h1 {
  color: #02a0da;
}

h3 {
  color: #02a0da;
}